<div id="candidates_list">
    <table class="table table-striped table-bordered table-hovered">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Institute</th>
            <th class="text-center">Schedule</th>
        </thead>
        <tbody>
            <tr ng-repeat="candidate in data.candidates">
                <td>{{ candidate.fields.first_name }}</td>
                <td>{{ candidate.fields.last_name}}</td>
                <td>{{ candidate.fields.email}}</td>
                <td>{{ candidate.fields.institute}}</td>
                <td class="text-center">
                    <md-button class="md-raised md-primary" ng-click="openScheduleView(candidate)">
                        Schedule
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
