<md-dialog flex aria-label="Schedule Interview For The Selected Candidate">
<md-toolbar>
    <div class="md-toolbar-tools">
	<h2>Schedule Interview For The Selected Candidate</h2>
	<span flex></span>
	<md-button class="md-icon-button" ng-click="close()">
	    &times;
	</md-button>
    </div>
</md-toolbar>
<md-dialog-content class="md-dialog-content" id="schedule_interview_table">
    <table class="table table-bordered table-striped">
       <tbody>
            <tr>
                <td><label>Candidate Name</label></td>
                <td>{{ candidate.fields.first_name }} {{ candidate.fields.last_name }}</td>
            </tr>
            <tr>
                <td><label>Candidate Email</label></td>
                <td>{{ candidate.fields.email }}</td>
            </tr>
            <tr>
                <td><label>Select Interviewer</label></td>
                <td>
                    <select class="form-control">
                        <option>Select Interviewer</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Interview Date</label></td>
                <td>
		    <md-datepicker ng-model="dt" md-date-filter="daysSelectable" md-min-date="today" md-placeholder="Enter date"></md-datepicker>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: middle;"><label>Interview Time</label></td>
                <td>
                    <div uib-timepicker ng-model="at" hour-step="1" minute-step="5"></div>
                </td>
            </tr>
       </tbody>
    </table>
</md-dialog-content>
<md-dialog-actions layout="row">
    <md-progress-circular ng-show="activated" class="md-hue-1" md-diameter="40"></md-progress-circular>
    <md-button class="md-raised md-warn" ng-disabled="activated" ng-click="scheduleInterview()">Schedule</md-button>
    <md-button class="md-raised md-primary" type="button" ng-click="close()">Close</md-button>
</md-dialog-actions>
</md-dialog>
