{% extends 'interview/base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        {% if form.errors %}
            <p class="error">Sorry, that's not a valid username or password</p>
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table class="table table-bordered">
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
			<md-button type="submit">Login</md-button>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="next" value="/" />
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}
